---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro with PrimeReact">
	<main>
		<p>Welcome!</p>
		<a href="/primereact">Page with a PrimeReact component</a>
	</main>
</Layout>
